<div class="container">
<div class="show-page">
  <h1>BY: <%= @blog.name %></h1>

  <p>
    <strong>Title:</strong>
    <%= @blog.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @blog.location %>
  </p>

    <p class="date">
    <strong>Submitted:</strong>  <%= time_ago_in_words(@blog.created_at) %>Ago
  </p>

  <p>
    <strong>Content:</strong>
    <%= @blog.content %>
  </p>
</div>
   <!-- Only to use when using User authentication -->
  <!-- <button type="button" name="button"><%= link_to 'Edit', edit_blog_path(@blog) %></button> | -->
  <button type="button" name="button"><%= link_to 'Back', blogs_path %></button>

  <hr>

  <div class="comment-show">
    <h2>Comments</h2>
    <% @blog.bl_comments.each do |bl_comment| %>
    <p>
      <strong>Name:</strong>
      <%= bl_comment.name %>
    </p>
    <p>
      <strong>comment:</strong>
      <%= bl_comment.body %>
    </p>

    <hr>
    <% end %>

  </div>


  <div class="write-comment">
    <h3>Add a Comment:</h3>
    <%= render "bl_comments/form" %>

  </div>

</div>
