<%= form_for([@recipe, @recipe.re_comments.build]) do |f| %>

  <div class="field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :body, "Comment:" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="actions">
    <button type="button" name="button"><%= f.submit 'Submit'%></button>
  </div>
<% end %>
