<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="show-page">
    <h1>BY: <%= @recipe.name %></h1>
    <p>
      <strong>Title:</strong>
      <%= @recipe.title %>
    </p>

    <p class="date">
      <strong>Submitted:</strong>  <%= time_ago_in_words(@recipe.created_at) %>Ago
    </p>


    <p>
      <strong>Image:</strong>
        <%= @recipe.image%>
    </p>

    <p>
      <strong>Ingredients:</strong>
      <%= @recipe.ingredients %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @recipe.description %>
    </p>

  </div>

  <!-- Only to use when using User authentication -->
  <!-- <button type="button" name="button"><%= link_to 'Edit', edit_recipe_path(@recipe) %></button> | -->
  <button type="button" name="button"><%= link_to 'Back', recipes_path %></button>

<div class="comment-show">
  <h2>Comments</h2>
  <% @recipe.re_comments.each do |re_comment| %>
  <p>
    <strong>Name:</strong>
    <%= re_comment.name %>
  </p>
  <p>
    <strong>comment:</strong>
    <%= re_comment.body %>
  </p>

  <hr>
  <% end %>
</div>



  <div class="write-comment">
        <h3>Add a Comment:</h3>
        <%= render "re_comments/form" %>
  </div>

</div>
