  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="<%= asset_path( 'topscreen.png' ) %>" alt="First slide">
          <div class="container">
            <div class="carousel-caption">

              <p>Nobody ever becomes an expert parent. But I think good parenting is about consistency. It's about being there at big moments, but it's also just the consistency of decision making. And it's routine. <strong>Sebastian Coe</strong></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="<%= asset_path( 'topscreen2.png' ) %>" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="<%= asset_path( 'topscreen3.png' ) %>" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="link-menu">
        <div class="row">
          <div class="col-lg-4">
            <img class="link-img" src="<%= asset_path( 'blog.png' ) %>" alt="Generic placeholder image" width="140" height="140">
            <h2><%= link_to 'Blog time', blogs_path %></h2>
            <p>"If you can learn something new every day, you can teach something new every day." Martha Stewart</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="link-img" src="<%= asset_path( 'cook.png' ) %>" alt="Generic placeholder image" width="140" height="140">
            <h2><%= link_to 'Share your recipes', recipes_path %></h2>
            <p>“For each new morning with its light, For rest and shelter of the night,
                For health and food, for love and friends, For everything Thy goodness sends.”

                ~ Ralph Waldo Emerson</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="link-img" src="<%= asset_path( 'video.jpg' ) %>" alt="Generic placeholder image" width="140" height="140">
            <h2><%= link_to 'Videos for Babies', videos_path %></h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="link-img" src="<%= asset_path ('shopping2.jpg') %>" alt="Generic placeholder image" width="140" height="140">
                <h2><%= link_to 'Shopping', shoppings_path %></h2>
            <p>Shopping Rule #1 : GRAB IT NOW! Tomorrow it might be gone forever.</p>
          </div><!-- /.col-lg-4 -->


        </div><!-- /.row -->
      </div>


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">6 Things You May Not Know Your Baby Can Do. <span class="text-muted"><%= link_to 'Read all...', welcome_babies_path  %></span></h2>
          <p class="lead">We bet you had no idea how much your baby could do until now! Read on to find out why you're really living with a Superbaby!</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="<%= asset_path( 'genius.jpg' ) %>" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Age-by-age guide to feeding your toddler.<span class="text-muted"><%= link_to 'Read all...', welcome_toddler_path  %></span></h2>
          <p class="lead">Use this guide to find out what and how much to feed your child from months 12 to 36. Don't worry if your child eats more or less than the amounts suggested – they're meant as general guidelines.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="<%= asset_path( 'feeding.jpg' ) %>" alt="Generic placeholder image">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fun activities to promote speaking skills for your preschooler.<span class="text-muted"><%= link_to 'Read all...', welcome_preschooler_path  %></span></h2>
          <p class="lead">Do you sometimes have trouble understanding what your preschooler says? You can help her hone her speaking skills by becoming an active listener.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="<%= asset_path( 'speaking.jpg' ) %>" alt="Generic placeholder image">
        </div>
      </div>

    </div><!-- /.container -->
